<% provide(:title, 'About App') %>
<h1>About App</h1>
<p>
  The application was designed to help students reviewing several papers as part of their literature review. 
  Students have complained of not being able to track all the papers they have read or the references they have assembled.
  This application seeks to provide some help in collating these reviews together 
</p>
