<footer class="footer">
  <small>
    <a href="http://railscasts.com/episodes/267-coffeescript-basics">Literature Review App</a>
    by Victor Chime
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://canaryupdates.blogspot.co.uk">News</a></li>
    </ul>
  </nav>
</footer>